body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* NavBar */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #146614;;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header {
    display: flex;
    width: 50px;
    height: 50px;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 5px;
    font-family: 'Roboto', arial;
}

/* hero */

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #187e18;;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.left-hero1 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.left-hero1 p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

.left-hero1 img {
    display: flex;
    width: 450px;
    height: 200px;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.image img {
    width: 500px;
    height: 310px;
}

/* content */

.content {
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards img {
    width: 200px;
    height: 200px;
    border: 4px solid #187e18;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* quotations */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
    font-size: 20px;
}

/* sign up  */

.signup {
    background-color: #187e18 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

/* footer */

/* Footer */

.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
}